body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fbc9d1;
  }
  
  h1 {
    font-size: 5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 15px dashed #f9b5c1d4;
    border-radius: 20px;
    color: #ffffff;
    /*#fcf3f4 - background background
    #fbc9d1
    #fae2e9 */
    background-color: #fbc9d1;

  }

  .back {
    size: 10px;
  }

  .photo {
    transform: scale(1.05);
    filter: drop-shadow(6px 6px 1px #c3c2c5);
}

  
  .container{
    background-color: #fcf3f4;
    transition-property: flex;
    align-items: center;
    border: 5px solid #fbc9d1;
    margin: auto;
    width: 75%;
    padding: 10px;
    background-position-x: center;
  }

  .container img:hover {
      opacity: .5;
  }
  
  img {
      width: 250px;
      height: 200px;  
      filter: drop-shadow(4px 4px 1px #c3c2c5);
      border: 5px;
    }

  .img1 {
      width: 240px;
      height: 310px;  
    }

  h2 {
    font-size: 1.5em;
  }
  
  .job-title {
    color: #999999;
    font-weight: bold;
  }
  
  a:link, a:visited {
    color: #fb9242;
  }

  .link{
    color: #2fb21176 !important;
  }
  
  a:hover {
    text-decoration: none;
  }

  .box{
    border: 5px solid #57007576;
  }

  .commentsection {
    border: 5px solid 
  }

  .text {
    border: 5px solid #fbc9d1;
  }

  .post {
    border: 5px solid #f9b5c1d4;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: #fcf3f4;
    color: #f9b5c1d4;
    font-style: bold;
    font-size: 25px;
  }

  .title {
    border-radius: 10px;
  }