<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="login.css">
</head>
<body background="aepics/strawberries.jpg">

    <div class = "container">
        <br>
        <br>
        <h1>LOG IN</h1>
        <form action="/login" method="post">
            <p class="subheader" id="usernametitle">USERNAME: </p>
            <input class="userinput" type="text" name="username" placeholder="Username" required>
            <p class="subheader" id="passwordtitle">PASSWORD: </p>
            <input class="userinput" type="password" name="password" placeholder="Password" required>
            <br>
            <br>
            <br>
            <input id="button" type="submit" value="Create Account"> 
        </form>
        <br>
        <br>
    </div>
</body>
</html>