<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
             
     <title>Anagha and Eylul</title>
     <link rel="stylesheet" href="bib.css">
</head>
<body background="aepics/strawberries.jpg">

    <!--
        Background color hexes: 
        #fcf3f4 - background background
        #fbc9d1 - strawberry dark
        #fae2e9 - strawberry light
        #c4d8c5 - strawberry leaves
    -->

    <div class="container center-align">
        <background-img src="aebackground.jpeg"></background-img>
        <h1 class="center-align lighten-2 ">US!</h1>
        <!-- for loop looping through the output of the query with one image tag -->
        <% for (let i = 0; i < 20; i++) { %>
            <img class="img" src="<%=photoList[i].photo_url%>"></img>
        
        <% } %>
        

        <br>
        <div class="comment">
        <br>
        <form>
            <textarea id="title" type="text "rows="2" cols="4" onkeyup="Allow()" placeholder="leave a comment on our pics......"></textarea>
            <br>
            <br>
            <button method= "post" type="submit" value="Post"style="width:100px;"></button>
        </form>
            
        </div> 
        <div id="display">

        </div>
        
        <script type="text/javascript">
            var titles = [];
            var titleInput = document.getElementById("title");
            var messageBox = document.getElementById("display");
            
            function Allow(){
                if (!user.title.value.match(/[a-zA-Z]$/) && user.title.value !="")
            
                {
                user.title.value="";
                alert("Please Enter only alphabets");
                }
                window.location.reload()
                }
            function insert () {
            titles.push(titleInput.value);
            clearAndShow();
            }
            function clearAndShow ()
            {
            titleInput.value = "";
            messageBox.innerHTML = "";
            messageBox.innerHTML += " " + titles.join("<br/> ") + "<br/>";
            }
        </script>
        
        <h1 class="center-align lighten-2 ">Anagha!</h1>
        <br>
        <% for (let i = 20; i < 24; i++) { %>
            <img class="img" src="<%=photoList[i].photo_url%>"></img>
        
        <% } %>
    
        <br>
        <br>
        <div class="comment">
            <br>
            <textarea id="title1" type="text "rows="2" cols="4" onkeyup="Allow()" placeholder="leave a comment on Anagha's pics......"></textarea>
            <br>
            <br>
            <input class = "post" type="submit" value="Post" onclick="insert1()" style="width:100px;" /></form>

            <div id="display1"></div>
        </div>

            <script type="text/javascript">
            var titles1 = [];
            var titleInput1 = document.getElementById("title1");
            var messageBox1 = document.getElementById("display1");
            function Allow()
            {
            if (!user.title.value.match(/[a-zA-Z]$/) && user.title.value !="")
            {
            user.title.value="";
            alert("Please Enter only alphabets");
            }
            window.location.reload()
            }
            function insert1 () {
            titles1.push(titleInput1.value);
            clearAndShow1();
            }
            function clearAndShow1 ()
            {
            titleInput1.value = "";
            messageBox1.innerHTML = "";
            messageBox1.innerHTML += " " + titles1.join("<br/> ") + "<br/>";
            }
        </script>
 

        <h1 class="center-align lighten-2">Eylul!</h1>
        <br>
        <% for (let i = 24; i < 28; i++) { %>
            <img class="img" src="<%=photoList[i].photo_url%>"></img>
        
        <% } %>
    
    <div class="comment">
        <br>
        <textarea id="title2" type="text "rows="2" cols="4" onkeyup="Allow()" placeholder="leave a comment on Eylul's pics......"></textarea>
        <br>
        <br>
        <input class = "post" type="submit" value="Post" onclick="insert2()" style="width:100px;" /></form>
        <div id="display2"></div>
        </div>
        <script type="text/javascript">
        var titles2 = [];
        var titleInput2 = document.getElementById("title2");
        var messageBox2 = document.getElementById("display2");
        function Allow()
        {
        if (!user.title.value.match(/[a-zA-Z]$/) && user.title.value !="")
        {
        user.title.value="";
        alert("Please Enter only alphabets");
        }
        window.location.reload()
        }
        function insert2 () {
        titles2.push(titleInput2.value);
        clearAndShow2();
        }
        function clearAndShow2 ()
        {
        titleInput2.value = "";
        messageBox2.innerHTML = "";
        messageBox2.innerHTML += " " + titles2.join("<br/> ") + "<br/>";
        }
        </script>
    </div>

    <p style="background-image: url('aepics/aebackground.jpeg');"></p>


</body>
</html>